CS410/Asn4/products.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!ELEMENT catalog (title, product+)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT product (ID, Name, specs, price, quantity, image)>
<!ELEMENT ID (#PCDATA)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT specs (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT quantity (#PCDATA)>
<!ELEMENT image (#PCDATA)>
